		<!--
		===========================================================
		BEGIN PAGE
		===========================================================
		-->

		<div class="login-wrapper">

			<form role="form" name="resetPasswordForm" novalidate>


                <div class="form-group has-feedback lg left-feedback no-label">
				  <input id="email-input" type="email" name="email" ng-model="email" class="form-control no-border input-lg rounded" ng-class="{'error-style': submitted}" placeholder="abc@xyz.com" required autofocus>
				  <span class="fa fa-envelope form-control-feedback"></span>
                  <span class="reset-password"  ng-show="submitted">A valid email address is required.</span>
				</div>
				<div class="form-group">
					<button ng-click="resetPassword()" class="btn btn-warning btn-lg btn-perspective btn-block">RESET PASSWORD</button>
				</div>
			</form>
			<p class="text-center"><strong><a ng-href="#/">Back to login</a></strong></p>
		</div><!-- /.login-wrapper -->
		<!--
		===========================================================
		END PAGE
		===========================================================
		-->